@{
  Layout = "_Layout";
}
@using Bakery.Models
@model Bakery.Models.Treat

<h1>Treat Details</h1>
<!-- List treat details -->
@Html.DisplayNameFor(model => model.Name): 
@Html.DisplayFor(model => model.Name)

<!-- List flavors associated with this treat type -->
@if (Model.FlavorTreats)
{
  <h2>Flavor Profiles</h2>
  <ul>
    @foreach (FlavorTreat flavTreat in Model.FlavorTreats)
    {
      <li>@Html.ActionLink($"{flavTreat.Flavor.Type}", "Details", "Flavors", new { id = flavTreat.Flavor.Type })</li>
    }
  </ul>
}
<h2>Add Flavor Profile for @Html.DisplayFor(model => model.Name) </h2>
@using (Html.BeginForm("AddFlavor", "Treats"))
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Flavor")
  @Html.DropDownList("FlavorId")
  <input type="submit" value="Add Flavor"/>
}

