@{
  Layout = "_Layout";
}
@using Bakery.Models
@model Bakery.Models.Treat

<div class="d-flex align-items-center"> 
  <h1 class="p-2">@Html.DisplayFor(model => model.Name) Details</h1>

  <!-- Delete form -->
  @using (Html.BeginForm("Delete", "Treats"))
  {
      @Html.HiddenFor(model => model.TreatId)
      <input type="submit" value="Delete Treat" class="btn btn-danger"/>
  }

  <!-- Link to Edit treat details -->
  <span class="p-2">@Html.ActionLink("Edit", "Edit", new {id = Model.TreatId})</span>
</div>

<!-- List flavors associated with this treat type -->
<table class="table">
  <thead>
    <th>Flavor Profile</th>
    <th>Manage</th>
  </thead>
  @if (Model.FlavorTreats.Count != 0)
  {
    @foreach (FlavorTreat flavTreat in Model.FlavorTreats)
    {
      <tr>
        <td>
          @Html.ActionLink($"{flavTreat.Flavor.Type}", "Details", "Flavors", new { id = flavTreat.Flavor.FlavorId })
        </td>
        <td>
          <!-- Remove Flavor -->
          @using (Html.BeginForm("RemoveFlavor","Treats", routeValues: new { id = flavTreat.FlavorTreatId }))
          {
            <input type="submit" value="Remove Flavor"/>
          }
          
        </td>
      </tr>
    }
  }
  else
  {
    <tr>
      <td>
        <p>No flavor profiles have been added yet.</p>
      </td>
    </tr>
  }
</table>
<!-- Form to add flavor to treat -->
<h2>Add Flavor Profile for @Html.DisplayFor(model => model.Name) </h2>
@using (Html.BeginForm("AddFlavor", "Treats"))
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Flavor")
  @Html.DropDownList("FlavorId", null, new {@class="form-select"})
  <br>
  <input type="submit" value="Add Flavor"/>
}