@{
  Layout = "_Layout";
}
@using Bakery.Models
@model Bakery.Models.Treat

<h1>Treat Details</h1>
<h2>@Html.DisplayFor(model => model.Name)</h2>

<!-- Link to Edit treat details -->
@Html.ActionLink("Edit", "Edit", new {id = Model.TreatId})

<!-- Delete form -->
@using (Html.BeginForm("Delete", "Treats"))
{
    @Html.HiddenFor(model => model.TreatId)
    <input type="submit" value="Delete Treat" class="btn btn-danger"/>
}

<!-- List flavors associated with this treat type -->
@if (Model.FlavorTreats.Count != 0)
{
  <h2>Flavor Profiles</h2>
  <ul>
    @foreach (FlavorTreat flavTreat in Model.FlavorTreats)
    {
      <li>@Html.ActionLink($"{flavTreat.Flavor.Type}", "Details", "Flavors", new { id = flavTreat.Flavor.FlavorId })</li>
    }
  </ul>
}

<!-- Form to add flavor to treat -->
<h2>Add Flavor Profile for @Html.DisplayFor(model => model.Name) </h2>
@using (Html.BeginForm("AddFlavor", "Treats"))
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Flavor")
  @Html.DropDownList("FlavorId")
  <input type="submit" value="Add Flavor"/>
}