@{
  Layout = "_Layout";
}
@using Bakery.Models
@model Bakery.Models.Flavor

<h1>Flavor Details</h1>
<!-- List flavor details -->
@Html.DisplayNameFor(model => model.Type): 
@Html.DisplayFor(model => model.Type)

<!-- Edit flavor -->
@using (Html.BeginForm("Edit", "Flavors"))
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  <input type="submit" value="Update"/>
}

<!-- List treats of this flavor type -->
@if (Model.FlavorTreats.Count != 0)
{
    @foreach (FlavorTreat flavTreat in Model.FlavorTreats)
    {
      <li>@Html.ActionLink($"{flavTreat.Treat.Name}", "Details", "Treats", new { id = flavTreat.Treat.TreatId })</li>
    }
}



<h2>Add @Html.DisplayFor(model => model.Type) Treat</h2>
@using (Html.BeginForm("AddTreat", "Flavors"))
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Treat")
  @Html.DropDownList("TreatId")
  <input type="submit" value="Add Treat"/>
}

